@font-face {
    font-family: 'IndieFlower-Regular';
    src: url("fonts/IndieFlower-Regular.ttf");
}

@font-face {
    font-family: 'Dance';
    src: url("fonts/DancingScript-Bold.ttf");
}

.centered {
    position: absolute;
    width: 900px;
    margin-top: 500px;
    margin-left: 70px;
    margin-right: 50px;
    color: #000000;
    text-align: left;

}

sup {
    font-size: 25px;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    color: white;
    z-index: 20;

}

/* for text size for span*/
span {
    font-size: 25px;
    text-align: left;
    font-family: Dance, serif;
    /*display: inline-block;*/
}

.dots {
    display: inline-block;
    width: 300px;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap:break-word;
}

.nameSpan {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
    word-wrap:break-word;
}

img {
    width: 100%;
    z-index: -1
}
