@font-face {
    font-family: 'IndieFlower-Regular';
    src: url("fonts/IndieFlower-Regular.ttf");
}

@font-face {
    font-family: 'Dance';
    src: url("fonts/DancingScript-Regular.ttf");
}


td {
    padding: 5px;
    font-size: 25px;
    color: #964B00;
    text-align: center;
    width: 100px;
    height: 25px;
    font-weight: bold;
    font-family: 'IndieFlower-Regular';
}

th {
    color: rgb(179, 94, 26);
    font-size: 30px;
    font-family: 'Dance';
}

td:hover {
    /*background: #77da4d;*/
    color: #ffb771 !important
}


h1 {
    background: #c77a4d;
    padding: 15px;
    text-align: center;
    align-items: center;
    width: 300px;
    align-self: center;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 100px;

}


table {
    width: 100%;
    align-self: center;
    align-items: center;
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 230px;
    padding-top: 500px;

}

.tablePrice, .thPrice, .tdPrice {
    /*border: #f59921 solid 1px;*/
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    align-content: center;
    border-collapse: collapse;
    padding: 10px;
    font-size: 25px;
    color: #964B00;
    text-align: center;
    width: 100px;
    height: 40px;
    font-weight: bold;
}


span {
    font-size: 25px;
    align-self: center;
    align-items: center;
    margin: auto;
}

div {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}






